#block1{
  width: 100%;
  background-image: url("../images/stencil/11.jpg");
  background-size: cover;
}
#block2{
  width: 100%;
  background-image: url("../images/rue/6.jpg");
  background-size: cover;
}
#block3{
  width: 100%;
  background-image: url("../images/alpha/4.jpg");
  background-size: cover;

}
#block4{
  width: 100%;
  background-image: url("../images/fonted/1.jpg");
  background-size: cover;
}
#block5{
  width: 100%;
  background-image: url("../images/capu/1.jpg");
  background-size: cover;
}
#block6{
  width: 100%;
  background-image: url("../images/base/3.jpg");
  background-size: cover;
}
#block7{
  width: 100%;
  background-image: url("../images/panam/1.jpg");
  background-size: cover;
}
#stencilhero{
  background-image: url("../images/stencil/11.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#fontedhero{
  background-image: url("../images/fonted/3.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#ruehero{
  background-image: url("../images/rue/6.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#alphahero{
  background-image: url("../images/alpha/5.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
}
#stencilhero{
  background-image: url("../images/stencil/11.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
#stencilblock1{
  background-image: url("../images/stencil/1.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#alphablock1{
  background-image: url("../images/alpha/1.jpg");
  background-size: cover;
  background-position: center;  background-repeat: no-repeat;
}
#alphablock2{
  background-image: url("../images/alpha/4.jpg");
  background-size: cover;
  background-position: center;  background-repeat: no-repeat;
}
#alphablock3{
  background-image: url("../images/alpha/5.jpg");
  background-size: cover;
  background-position: center;  background-repeat: no-repeat;
}
#alphablock4{
  background-image: url("../images/alpha/6.jpg");
  background-size: cover;
  background-position: center;  background-repeat: no-repeat;
}
#alphablock5{
  background-image: url("../images/alpha/7.jpg");
  background-size: cover;
  background-position: center;  background-repeat: no-repeat;
}
#alphablock6{
  background-image: url("../images/alpha/8.jpg");
  background-size: cover;
  background-position: center;  background-repeat: no-repeat;
}
#alphablock7{
  background-image: url("../images/alpha/2.jpg");
  background-size: cover;
  background-position: center;  background-repeat: no-repeat;
}
#stencilblock2{
  background-image: url("../images/stencil/2.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#stencilblock3{
  background-image: url("../images/stencil/3.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#stencilblock4{
  background-image: url("../images/stencil/4.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#stencilblock5{
  background-image: url("../images/stencil/5.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#stencilblock6{
  background-image: url("../images/stencil/6.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#stencilblock7{
  background-image: url("../images/stencil/7.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#stencilblock8{
  background-image: url("../images/stencil/8.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#stencilblock9{
  background-image: url("../images/stencil/9.svg");
  background-size: contain;
  background-position: center;  background-repeat: no-repeat;

}
#stencilblock10{
  background-image: url("../images/stencil/10.jpg");
  background-size: cover;
  background-position: center;
}

#stencilblock11{
  background-image: url("../images/stencil/12.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock1{
  background-image: url("../images/rue/8.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock2{
  background-image: url("../images/rue/2.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock3{
  background-image: url("../images/rue/3.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock4{
  background-image: url("../images/rue/4.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock5{
  background-image: url("../images/rue/9.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock6{
  background-image: url("../images/rue/7.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock7{
  background-image: url("../images/rue/12.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock8{
  background-image: url("../images/rue/10.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock9{
  background-image: url("../images/rue/13.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock10{
  background-image: url("../images/rue/15.jpg");
  background-size: cover;
  background-position: center;
}
#rueblock11{
  background-image: url("../images/rue/16.jpg");
  background-size: cover;
  background-position: center;
}
#stencilblock2{
  background-image: url("../images/stencil/2.svg");
  background-size: cover;
  background-position: center;

}
#stencilblock3{
  background-image: url("../images/stencil/3.svg");
  background-size: cover;
  background-position: center;
}
#fontedblock1{
  background-image: url("../images/fonted/2.jpg");
  background-size: cover;
  background-position: center;
}
#fontedblock2{
  background-image: url("../images/fonted/11.jpg");
  background-size: cover;
  background-position: center;
}
#fontedblock3{
  background-image: url("../images/fonted/4.jpg");
  background-size: cover;
  background-position: center;
}
#fontedblock4{
  background-image: url("../images/fonted/5.jpg");
  background-size: cover;
  background-position: center;
}
#fontedblock5{
  background-image: url("../images/fonted/6.jpg");
  background-size: cover;
  background-position: center;
}
#fontedblock6{
  background-image: url("../images/fonted/7.jpg");
  background-size: cover;
  background-position: center;
}
#fontedblock7{
  background-image: url("../images/fonted/8.jpg");
  background-size: cover;
  background-position: center;
}
#fontedblock8{
  background-image: url("../images/fonted/9.jpg");
  background-size: cover;
  background-position: center;
}
