body {
  background: black;
  font-family: Archia
}
.portfolio{
  display: flex;
  top: 500px;
  position: relative;
  background-color: black;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.block{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  filter: grayscale(100%);
  transition: 0.1s ease-in-out

}
.block:hover{
  filter: grayscale(0%)
}
.ablock{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.ablock100{
  width: 100%
}
.block50{
  width: 50%
}
.ablock66{
  width: 67%
}
.ablock33{
  width: 33%
}
.block34{
  width: 34%
}
.ablock50{
  width: 50%
}

.text_block{
  height: 500px
}
.heroimage{
  width: 100%;
  height: 500px;
  background-position: center;
}
.intro{
  width: 100%;
  height: 500px;
  color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-flow: column;
}
.block50{
  width: 50%;
  height: 500px;
}
.block66{
  width: 67%;
  height: 500px;
}
.block100{
  width: 100%;
  height: 500px;
}
.block33{
  width: 33%;
  height: 500px;
}
.block34{
  width: 34%;
  height: 500px;
}
.wrap{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.text50{
  width: 33%;
  height: 500px;
color: white;
justify-content: center;
align-items: center;
align-content: center;
}
