@media (max-width: 1150px) {
  .resumetext{
    font-size: 1em
  }
  .text_block{
    width: 250px;
    height: 150px;
    justify-content: center;
    align-items: center;

  }
.title_project{
  padding-top: 15px;
  padding-left: 20px
}
.date_project{
  padding-left: 20px

}
.type_project{
  padding-left: 20px

}
.contact{
  font-size: 1em
}
}
@media (max-width: 830px) {
.block{
  width: 100%;
  height: 250px
}
.ablock{
  width: 100%;
  height: 250px
}
#resume{
  height: 600px;
  font-size: 1em;
}
#resume2{
  height: 400px
}
.text50{
  width: 100%;

}
.heroimage{
  height: 300px;
  background-position: center;
  background-size: cover;
}
.intro{
  height: 300px
}
h4{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0;
  text-align: center;
}
.resumetext{
  line-height: 180%
}
.block33 {
  width: 100%;
  height: 250px
}
.block34 {
  width: 100%;
  height: 250px
}
.block50 {
  width: 100%;
  height: 250px
}
.block66 {
  width: 100%;
  height: 250px
}
.block100 {
  width: 100%;
  height: 250px
}
.contact{
  font-size: 1em;
  line-height: 180%
}
.block{
  filter: grayscale(0%);
}
}
