.resumetext{
  font-size: 1.3em;
  padding: 10%;
  line-height: 150%;
}
.resumetext2{
  font-size: 1em;
  padding: 10%;
  line-height: 150%;
  font-family: archialight;
}
h1{
  font-size: 1.4em;
  font-family: archiabold
}
h2{
  font-size: 1.4em;
  font-family: archiabold

}
.resumetext{
  font-family: archiamedium
}
.text_block{
  width: 400px;
  flex-flow: row;
  background-color: black;
  height: 200px;
  opacity: 0;
  transition: 0.1s ease-in-out

}
.block:hover .text_block{
  opacity: 1;
}
.block{
  justify-content: flex-start;
}
.title_project {
  padding-left: 50px;
  padding-top: 40px;
  font-family: archiabold

}
.date_project {
  padding-left: 50px;
  font-family: archialight

}
.type_project{
  padding-left: 50px;
  font-family: archiamedium
}
.symbol2{
  transform: rotate(180deg) scale(0.7);
}

.contact{
  text-align: center;
  width: 100%;
  font-size: 1.3em;
  line-height: 175%;
  font-family: archiamedium
}
.contacta{
  transition: 0.2s ease-in-out
}
.contacta:hover{
  color: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
.block34{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
h3{
  font-family: archiathin
}
h4{
  font-family: archiamedium;
  padding-top: 30px
}
